.root {
  width: 100%;
}

.root h1 {
  font-family: 'Roboto Mono', monospace;
  color: var(--text);
  text-shadow: 0px 0px 20px var(--text-black);
  font-size: 2.5rem;
}

.root li {
  text-decoration: none;
  font-size: 1.5rem;
  margin: 15px 0;
}

.leftList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
