.root {
  width: 800px;
  height: 800px;
  position: fixed;
  top: -150px;
  left: auto;
  right: -80px;
  fill: none;
}

@media only screen and (max-width: 600px) {
  .root {
    width: 600px;
    height: 600px;
    right: -100px;
  }
}

.root > * {
  opacity: 0.1;
}

.cls1 {
  fill: #464b61;
}
.cls2 {
  fill: #5b617c;
}
.cls3 {
  fill: #697091;
}
.cls4 {
  fill: #757c9b;
}
.cls5 {
  fill: #8c94b9;
}
.cls6 {
  fill: #959fc9;
}
