.cls1 {
  isolation: isolate;
}
.cls2 {
  fill: url(#linear-gradient);
}
.cls3 {
  fill: url(#linear-gradient-2);
}
.cls4 {
  fill: url(#linear-gradient-3);
}
.cls5 {
  fill: url(#linear-gradient-4);
}
.cls6 {
  opacity: 0.78;
}
.cls7 {
  fill: #0068ff;
}
.cls7,
.cls93 {
  opacity: 0.55;
}
.cls8 {
  fill: #eaff2a;
}
.cls9 {
  fill: #15259b;
}
.cls10 {
  fill: #1c223a;
}
.cls11 {
  fill: url(#linear-gradient-5);
}
.cls12 {
  fill: url(#linear-gradient-6);
}
.cls13 {
  fill: url(#linear-gradient-7);
}
.cls14 {
  fill: url(#linear-gradient-8);
}
.cls15 {
  fill: url(#linear-gradient-9);
}
.cls16 {
  fill: url(#linear-gradient-10);
}
.cls17 {
  fill: url(#linear-gradient-11);
}
.cls18 {
  fill: url(#linear-gradient-12);
}
.cls19 {
  fill: url(#linear-gradient-13);
}
.cls20 {
  fill: url(#linear-gradient-14);
}
.cls21 {
  fill: url(#linear-gradient-15);
}
.cls22 {
  fill: url(#linear-gradient-16);
}
.cls23 {
  fill: url(#linear-gradient-17);
}
.cls24 {
  fill: url(#linear-gradient-18);
}
.cls25 {
  fill: url(#linear-gradient-19);
}
.cls26 {
  fill: url(#linear-gradient-20);
}
.cls27 {
  fill: url(#linear-gradient-21);
}
.cls28 {
  fill: url(#linear-gradient-22);
}
.cls29 {
  fill: url(#linear-gradient-23);
}
.cls30 {
  fill: url(#linear-gradient-24);
}
.cls31 {
  fill: url(#linear-gradient-25);
}
.cls32 {
  fill: url(#linear-gradient-26);
}
.cls33 {
  fill: url(#linear-gradient-27);
}
.cls34 {
  fill: url(#linear-gradient-28);
}
.cls35 {
  fill: url(#linear-gradient-29);
}
.cls36 {
  fill: url(#linear-gradient-30);
}
.cls37 {
  fill: url(#linear-gradient-31);
}
.cls38 {
  fill: url(#linear-gradient-32);
}
.cls39 {
  fill: url(#linear-gradient-33);
}
.cls40 {
  fill: url(#linear-gradient-34);
}
.cls41 {
  fill: url(#linear-gradient-35);
}
.cls42 {
  fill: url(#linear-gradient-36);
}
.cls43 {
  fill: url(#linear-gradient-37);
}
.cls44 {
  fill: url(#linear-gradient-38);
}
.cls45 {
  fill: url(#linear-gradient-39);
}
.cls46 {
  fill: url(#linear-gradient-40);
}
.cls47 {
  fill: url(#linear-gradient-41);
}
.cls48 {
  fill: url(#linear-gradient-42);
}
.cls49 {
  fill: url(#linear-gradient-43);
}
.cls50 {
  fill: url(#linear-gradient-44);
}
.cls51 {
  fill: url(#linear-gradient-45);
}
.cls52 {
  fill: url(#linear-gradient-46);
}
.cls53 {
  fill: url(#linear-gradient-47);
}
.cls54 {
  fill: url(#linear-gradient-48);
}
.cls55 {
  fill: url(#linear-gradient-49);
}
.cls56 {
  fill: url(#linear-gradient-50);
}
.cls57 {
  fill: url(#linear-gradient-51);
}
.cls58 {
  fill: url(#linear-gradient-52);
}
.cls59 {
  fill: url(#linear-gradient-53);
}
.cls60 {
  fill: url(#linear-gradient-54);
}
.cls61 {
  fill: url(#linear-gradient-55);
}
.cls62 {
  fill: url(#linear-gradient-56);
}
.cls63 {
  fill: url(#linear-gradient-57);
}
.cls64 {
  fill: url(#linear-gradient-58);
}
.cls65 {
  fill: url(#linear-gradient-59);
}
.cls66 {
  fill: url(#linear-gradient-60);
}
.cls67 {
  fill: url(#linear-gradient-61);
}
.cls68 {
  fill: url(#linear-gradient-62);
}
.cls69 {
  fill: url(#linear-gradient-63);
}
.cls70 {
  fill: url(#linear-gradient-64);
}
.cls71 {
  fill: url(#linear-gradient-65);
}
.cls72 {
  fill: url(#linear-gradient-66);
}
.cls73 {
  fill: url(#linear-gradient-67);
}
.cls74 {
  fill: url(#linear-gradient-68);
}
.cls75 {
  fill: url(#linear-gradient-69);
}
.cls76 {
  fill: url(#linear-gradient-70);
}
.cls77 {
  fill: url(#linear-gradient-71);
}
.cls78 {
  fill: url(#linear-gradient-72);
}
.cls79 {
  fill: url(#linear-gradient-73);
}
.cls80 {
  fill: url(#linear-gradient-74);
}
.cls81 {
  fill: url(#linear-gradient-75);
}
.cls82 {
  fill: url(#linear-gradient-76);
}
.cls83 {
  fill: url(#linear-gradient-77);
}
.cls84 {
  fill: url(#linear-gradient-78);
}
.cls85 {
  fill: url(#linear-gradient-79);
}
.cls86 {
  fill: url(#linear-gradient-80);
}
.cls87 {
  fill: url(#linear-gradient-81);
}
.cls88 {
  fill: url(#linear-gradient-82);
}
.cls89 {
  fill: url(#linear-gradient-83);
}
.cls90 {
  fill: url(#linear-gradient-84);
}
.cls91 {
  fill: #ffe6ff;
}
.cls92 {
  opacity: 0.48;
}
.cls100,
.cls101,
.cls93,
.cls96,
.cls97,
.cls98,
.cls99 {
  fill: none;
  stroke-miterlimit: 10;
}
.cls93 {
  stroke: #0068ff;
}
.cls94 {
  mix-blend-mode: multiply;
}
.cls95 {
  fill: #a159d3;
}
.cls100,
.cls101,
.cls96,
.cls97,
.cls98,
.cls99 {
  stroke-width: 2px;
}
.cls96 {
  stroke: url(#linear-gradient-85);
}
.cls97 {
  stroke: url(#linear-gradient-86);
}
.cls98 {
  stroke: url(#linear-gradient-87);
}
.cls99 {
  stroke: url(#linear-gradient-88);
}
.cls100 {
  stroke: url(#linear-gradient-89);
}
.cls101 {
  stroke: url(#linear-gradient-90);
}

.fadeScreen {
  animation: fade 3s ease-in-out infinite;
}

@keyframes fade {
  0% {
    transform: translateX(-10px) translateY(10px);
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  60% {
    transform: translateX(25px) translateY(5px);
    opacity: 0;
  }
  100% {
    transform: translateX(25px) translateY(5px);
    opacity: 0;
  }
}
