.root {
  color: var(--text);
  height: 40vh;
  background-color: var(--layer);
  position: relative;
}

.root h2 {
  font-family: "Roboto Mono", monospace;
  font-size: 1.8rem;
}

.icon {
  position: absolute;
  top: 10px;
  left: auto;
  right: 10px;
  color: var(--text);
  font-size: 2rem;
}

.description {
  position: absolute;
  background: var(--layer);
  width: 100%;
  height: 100%;
  clip-path: circle(40px at 95% 10%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
}

.descriptionActive {
  background: var(--inner-layer);
  clip-path: circle(75%);
  transform: scale(1.1);
}

.description p {
  padding: 1rem;
}

.description button {
  background-color: transparent;
  border: none;
  color: var(--text);
}
