.root {
  position: relative;
  height: 100%;
}

.root h1 {
  color: var(--text);
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 6px;
}

.fire {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 50%;
}
.fire svg {
  position: relative;
  left: -45%;
}
