.root {
  position: relative;
  height: 100%;
}

.root h1 {
  color: var(--text);
  font-family: "Roboto Mono", monospace;
  letter-spacing: 6px;
}

.fire {
  width: 150px;
  height: 150px;
  position: absolute;
  top: auto;
  bottom: 20px;
  left: 50%;
}
.fire div {
  position: relative;
  left: -50%;
}
