.root {
  min-height: 100vh;
  width: 100%;
  background-color: var(--background);
  color: var(--text);
}

.responses {
  margin-top: 100px;
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
