@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter;
  src: url(/fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: Fasthand;
  src: url(/fonts/Fasthand-Regular.ttf);
}
@font-face {
  font-family: Quicksand;
  src: url(/fonts/Quicksand-Regular.ttf);
}

@layer base {
  html {
    font-family: Quicksand, system-ui, sans-serif;
    scroll-padding-top: 10rem;
    scroll-behavior: smooth;
    /* text-transform: lowercase; */
  }
}

.font-fasthand {
  font-family: Fasthand, system-ui, sans-serif;
}

.font-quicksand {
  font-family: Quicksand, system-ui, sans-serif;
}
